body {
  /*Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 8.5em 0;
  background-image: url(http://i1367.photobucket.com/albums/r792/worldofentrepreneur/photo-1428604467652-115d9d71a7f1_zpsajhx1ido.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid 3em #25383b;
}

.masthead-intro {
  /* Layout Declarations */
  margin-bottom: 0.1em;
  /*Typography Declarations */
   font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
  color: #25383b;
}

.masthead-heading {
  /* Layout Declarations */
  margin-top: -0.2em;
  /* Typography Declarations */
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000; 
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.social > li {
  display: inline-block;
}

.introduction-section > p,
.location-section > p,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
  /* Layout */
  margin: 2em 0 1em 0;
}

section > h1 {
  margin-top: 2em;
}

.content-footer {
  background-color: #1B282B;
  margin-top: 5em;
	padding: 6em 0;
  color: #FFFFFF;
}

h1 {
  color: #FF0000;
  font-size: 38px;
  font-weight: 100;
}

.box {
  width: 645px;
  height: 50px; 
  margin: 15px 350px;
  background: #25383b;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-family: 'Brush script std', Arial, sans-serif;    
  font-size: 25px;
  color: #fff;
  padding: 17px 32px 19px;
  margin: 0 auto 60px;
  margin-top: -2em;
  text-shadow: 1px 1px 1px #000; 
}

    /* Box Shadow */
    /* Opera */
    -o-box-shadow: 5px 5px 5px #666;
    /* IE */
    -ms-box-shadow: 5px 5px 5px #666;
    /* Mozilla FireFox */
    -moz-box-shadow: 5px 5px 5px #666;
    /* Google Chrome */
    -webkit-box-shadow: 5px 5px 5px #666;
    /* Normal */
    box-shadow: 5px 5px 5px #666;
}

.content-footer > p,
.social {
  color: #FFFFFF;
}

